
html, body, .container {
    height: 100%;
}

#clock-container, a {
    font-size: 20px;
    color: #e62e00;
    font-weight: bold;
}



body {
    background-image: url("sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg");
    background-size: cover;
 
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



