
html, body, .container {
    height: 100%;
}

body {
    background-image: url('./assets/coding-background.jpg');
    background-size: cover;
    background-color: #9ed6e7;
}

h1 {
    font-family: 'Dosis', sans-serif;
}

.border-bottom {
    border-bottom: 1px solid #FFFFFF!important;
}

.border-top {
    border-top: 1px solid #FFFFFF!important;
}

a {
    color: #FFFFFF;
    font-weight: bold;
}

