.container {
    background: yellow;
    height: 250px;
}

body {
    background-image: url("sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg"); 
    background-repeat: no-repeat;
    background-size: 100% 350%;
  }

  #highscore-link, #theTimer {
      font-size: 30px;
      font-style: oblique;
      color: #e62e00;
  } 

  #startButton {
    color: #e62e00;

  }
 